/* ╔══════════════════════════╦══════════════════════════════════════════════════════════════════════════════════════════╗ */
/* ║ Base Theme Importer      ║ ⚠️ Do NOT comment out these lines! The theme WILL break if you remove them! ⚠️          ║ */
/* ╠══════════════════════════╩══════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Imports in order of appearance:                                                                                     ║ */
/* ║ ● Base Skin - Contains base design for Draconium as well as code from Gibbu's FrostedGlass.                         ║ */
/* ║ ● Bars - Adds decorative bars throughout Discord.                                                                   ║ */
/* ║ ● Fullwidth User Settings - Adjusts the user settings page to be fullwidth.                                         ║ */
/* ║ ● Misc Fixes - Just some random fixes that I was to lazy to place in base. This will go away in 5.0                 ║ */
/* ║ ● User Settings Icons - Adds Custom Icons to the User Settings Page.                                                ║ */
/* ║ ● User Tags and Animations - Exclusive features for special members of The Dragons Guild. DM Ryox for more info.    ║ */
/* ║ ● Original Windows Titlebar - Reverts Discord to use it's classic inline titlebar.                                  ║ */
/* ╚═════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝ */

@import url("https://themes.dragonsguild.games/Draconium4/importer/base.css");                    /* ⚠️ */
@import url("https://themes.dragonsguild.games/Draconium4/importer/bars.css");                    /* ⚠️ */
@import url("https://themes.dragonsguild.games/Draconium4/importer/fw_fixes.css");                /* ⚠️ */
@import url("https://themes.dragonsguild.games/Draconium4/importer/misc_fixes.css");              /* ⚠️ */
@import url("https://themes.dragonsguild.games/Draconium4/importer/settings_icons.css");          /* ⚠️ */
@import url('https://themes.dragonsguild.games/Draconium4/importer/user-tags.css');               /* ⚠️ */
@import url("https://themes.dragonsguild.games/Draconium4/importer/windows-titlebar.css");        /* ⚠️ */