:root{
    --background: url("https://micro.sylo.digital/file/OFLvZc.gif");
    --accent: #3f336e;
    --accent-glass: #fff1;
    --text-color: #fff;
    --blur: 10px;
}

/* Main */
#splash{
    background:var(--background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}

#splash .splash-inner video.loaded{
    display: none;
}

#splash .splash-inner .splash-text{
    position: absolute;
    top:30px;
    left:0;
    width: 100%;
}

#splash .splash-inner .splash-text > span.splash-status{
    font-style: normal;
    font-weight: 600;
    text-transform: unset;
    color: var(--text-color);
}

/* Prog bar */
.progress{
    position: fixed;
    bottom:30px;
    left:30px;
    width: calc(100% - 60px);
}
.progress .progress-bar{
    width:100%;
    height: 10px;
    border-radius: 10px;
    background: var(--accent-glass);
    overflow: hidden;
    backdrop-filter: blur(calc(var(--blur) / 2));
}

.progress .progress-bar .complete{
    border-radius: 0;
    background: var(--accent);
    box-shadow: unset;
}

/* Animations */
@keyframes fade{
    from{ opacity: 0;}
    to{ opacity: 1;}
}