body #app-mount .app-1q1i1E .base-3dtUhz {
  top: 0 !important;
  bottom: var(--server-container) !important;
}
body #app-mount .guilds-1SWlCJ {
  top: unset !important;
  left: 100vw;
  bottom: 0 !important;
  transform-origin: bottom left;
}
body #app-mount .guilds-1SWlCJ.content-Pph8t6 {
  top: unset !important;
  bottom: var(--server-container) !important;
}
body #app-mount .guilds-1SWlCJ.content-Pph8t6:not(.closed-j55_T-) + .base-3dtUhz {
  top: 0 !important;
  bottom: calc(var(--server-container) * 2) !important;
}
body #app-mount .guilds-1SWlCJ [class*=pill] {
  top: unset !important;
  bottom: calc((var(--server-size) / -1) + (var(--server-size) / 2) - 8px) !important;
}
body #app-mount .guilds-1SWlCJ [class*=pill] span {
  border-radius: 4px 0 0 4px;
}
body #app-mount [class*=listItemTooltip] {
  position: absolute;
  white-space: nowrap;
  top: calc(var(--server-size) / -1 - 30px) !important;
  margin-left: calc(var(--server-size) / -1 - 20px);
}
body #app-mount [class*=listItemTooltip] [class*=tooltipPointer] {
  transform: rotate(0) !important;
  top: unset !important;
  bottom: -10px !important;
}

html.platform-osx #app-mount .base-3dtUhz {
  top: 32px !important;
}