/* Center User Modal */

.headerTop-3vNv-a, .rolesList-1geHY1, .headerTextNormal-2mGWX3, .customStatus-oN4ZZY, .aboutMeTitle-1IYtPE{
  display: flex;
  justify-content: center;
  text-align: center;
}
.avatarWrapperNormal-26WQIb{
  position: absolute;
  left: 35%;
}
.profileBadges-ohc0Vu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 72px;
  transform: translateY(-8px);
  position: absolute;
  transform: translate(-250px);
}
.userPopout-xaxa6l .input-cIJ7To, .aboutMeSection-1Fw5Ia, .bodyTitle-1ySSKn, .textarea-2r0oV8, .marginBottom8-AtZOdT.size14-e6ZScH{
  text-align: center;
}

/* Center Activity Status */
.headerTextNormal-2mGWX3 {
  margin: auto;
}

.body-ZAhrcj {
  width: max-content;
  margin: auto;
}

.spotifyIcon-2J9kSv {
  display: none !important;
}

/* Center Customize Profile Picture */
.avatarUploader-2UF9NL {
  left: 16px;
  right: 16px;
}