[data-list-item-id*="channels___upcoming-events-144015155431211008"] .name-23GUGE{ /* Events */
    visibility:hidden
}
[data-list-item-id*="channels___upcoming-events-144015155431211008"] .name-23GUGE::after{
    content:"Events";
    visibility:visible;
    display:block;
    position:absolute;
    top:6px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*=active-threads] .name-23GUGE{ /* Events */
    visibility:hidden
}
[data-list-item-id*=active-threads] .name-23GUGE::after{
    content:"Threads";
    visibility:visible;
    display:block;
    position:absolute;
    top:6px;
    margin-left:var(--cn-margin-left)
}


[data-list-item-id*="181551281385504769"] .channelName-2YrOjO{ /* Announcements */
    visibility:hidden
}
[data-list-item-id*="181551281385504769"] .channelName-2YrOjO::after{
    content:"Announcements";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="615278237370810388"] .channelName-2YrOjO{ /* Bungie Tweets */
    visibility:hidden
}
[data-list-item-id*="615278237370810388"] .channelName-2YrOjO::after{
    content:"Bungie Tweets";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="525587683599450123"] .channelName-2YrOjO{ /* Clan Events */
    visibility:hidden
}
[data-list-item-id*="525587683599450123"] .channelName-2YrOjO::after{
    content:"Clan Events";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="559735498059284481"] .channelName-2YrOjO{ /* Starboard */
    visibility:hidden
}
[data-list-item-id*="559735498059284481"] .channelName-2YrOjO::after{
    content:"Starboard";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="528778845537435689"] .channelName-2YrOjO{ /* Welcome */
    visibility:hidden
}
[data-list-item-id*="528778845537435689"] .channelName-2YrOjO::after{
    content:"Welcome";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="374677295677440001"] .channelName-2YrOjO{ /* Destiny */
    visibility:hidden
}
[data-list-item-id*="374677295677440001"] .channelName-2YrOjO::after{
    content:"Destiny";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="719391428857561089"] .channelName-2YrOjO{ /* The Crucible */
    visibility:hidden
}
[data-list-item-id*="719391428857561089"] .channelName-2YrOjO::after{
    content:"The Crucible";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="659308554871767050"] .channelName-2YrOjO{ /* Destiny Montaged */
    visibility:hidden
}
[data-list-item-id*="659308554871767050"] .channelName-2YrOjO::after{
    content:"Destiny Montaged";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="683150239883984918"] .channelName-2YrOjO{ /* Destiny Guides */
    visibility:hidden
}
[data-list-item-id*="683150239883984918"] .channelName-2YrOjO::after{
    content:"Destiny Guides";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="603697643415142525"] .channelName-2YrOjO{ /* Destiny Legacy */
    visibility:hidden
}
[data-list-item-id*="603697643415142525"] .channelName-2YrOjO::after{
    content:"Destiny Legacy";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="468807982516273172"] .channelName-2YrOjO{ /* Misc Gaming */
    visibility:hidden
}
[data-list-item-id*="468807982516273172"] .channelName-2YrOjO::after{
    content:"Misc Gaming";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="144015155431211008"] .channelName-2YrOjO{ /* The Flood */
    visibility:hidden
}
[data-list-item-id*="144015155431211008"] .channelName-2YrOjO::after{
    content:"The Flood";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="587144258088206336"] .channelName-2YrOjO{ /* The Flood NSFW*/
    visibility:hidden
}
[data-list-item-id*="587144258088206336"] .channelName-2YrOjO::after{
    content:"The Flood NSFW";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="495749457183506439"] .channelName-2YrOjO{ /* Bot */
    visibility:hidden
}
[data-list-item-id*="495749457183506439"] .channelName-2YrOjO::after{
    content:"Bot";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="263072451519315968"] .channelName-2YrOjO{ /* Draconic Order */
    visibility:hidden
}
[data-list-item-id*="263072451519315968"] .channelName-2YrOjO::after{
    content:"Draconic Order";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="526000616095350795"] .channelName-2YrOjO{ /* Command Center */
    visibility:hidden
}
[data-list-item-id*="526000616095350795"] .channelName-2YrOjO::after{
    content:"Command Center";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="528064588470550529"] .channelName-2YrOjO{ /* Perfection Complex */
    visibility:hidden
}
[data-list-item-id*="528064588470550529"] .channelName-2YrOjO::after{
    content:"Perfection Complex";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="552876806269566977"] .channelName-2YrOjO{ /* Moderation */
    visibility:hidden
}
[data-list-item-id*="552876806269566977"] .channelName-2YrOjO::after{
    content:"Moderation";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="869269315294216262"] .channelName-2YrOjO{ /* Archons Forge */
    visibility:hidden
}
[data-list-item-id*="869269315294216262"] .channelName-2YrOjO::after{
    content:"Archon's Forge";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="484507655642152971"] .channelName-2YrOjO{ /* Member Log */
    visibility:hidden
}
[data-list-item-id*="484507655642152971"] .channelName-2YrOjO::after{
    content:"Member Log";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="549288118440951829"] .channelName-2YrOjO{ /* Audit Log */
    visibility:hidden
}
[data-list-item-id*="549288118440951829"] .channelName-2YrOjO::after{
    content:"Audit Log";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="697297035518541905"] .channelName-2YrOjO{ /* IDT */
    visibility:hidden
}
[data-list-item-id*="697297035518541905"] .channelName-2YrOjO::after{
    content:"IDT";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="717675506807603250"] .channelName-2YrOjO{ /* Day One Raids */
    visibility:hidden
}
[data-list-item-id*="717675506807603250"] .channelName-2YrOjO::after{
    content:"Day One Raids";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="554509070753726466"] .channelName-2YrOjO{ /* Adventure Archive */
    visibility:hidden
}
[data-list-item-id*="554509070753726466"] .channelName-2YrOjO::after{
    content:"Adventure Archive";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="498340932731797504"] .channelName-2YrOjO{ /* Casino Archive */
    visibility:hidden
}
[data-list-item-id*="498340932731797504"] .channelName-2YrOjO::after{
    content:"Casino Archive";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="576973916111765525"] .channelName-2YrOjO{ /* CoS Archive */
    visibility:hidden
}
[data-list-item-id*="576973916111765525"] .channelName-2YrOjO::after{
    content:"CoS Archive";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="777370631376863242"] .channelName-2YrOjO{ /* D2 Names Archive */
    visibility:hidden
}
[data-list-item-id*="777370631376863242"] .channelName-2YrOjO::after{
    content:"D2 Names Archive";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="607699622764478464"] .channelName-2YrOjO{ /* GoS Archive */
    visibility:hidden
}
[data-list-item-id*="607699622764478464"] .channelName-2YrOjO::after{
    content:"GoS Archive";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="593493444190535701"] .channelName-2YrOjO{ /* MC Archive */
    visibility:hidden
}
[data-list-item-id*="593493444190535701"] .channelName-2YrOjO::after{
    content:"MC Archive";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="846965496698896425"] .channelName-2YrOjO{ /* Mod Archive */
    visibility:hidden
}
[data-list-item-id*="846965496698896425"] .channelName-2YrOjO::after{
    content:"Mod Archive";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="630893256363737118"] .channelName-2YrOjO{ /* SoW Archive */
    visibility:hidden
}
[data-list-item-id*="630893256363737118"] .channelName-2YrOjO::after{
    content:"SoW Archive";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="845091974817906708"] .channelName-2YrOjO{ /* VoG Guides Archive */
    visibility:hidden
}
[data-list-item-id*="845091974817906708"] .channelName-2YrOjO::after{
    content:"VoG Guides Archive";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="595601670218711051"] .channelName-2YrOjO{ /* WF Archive */
    visibility:hidden
}
[data-list-item-id*="595601670218711051"] .channelName-2YrOjO::after{
    content:"WF Archive";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="335885612253184023"] .channelName-2YrOjO{ /* Admin Bot */
    visibility:hidden
}
[data-list-item-id*="335885612253184023"] .channelName-2YrOjO::after{
    content:"Admin Bot";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="717171553351237684"] .channelName-2YrOjO{ /* User Info */
    visibility:hidden
}
[data-list-item-id*="717171553351237684"] .channelName-2YrOjO::after{
    content:"User Info";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}

[data-list-item-id*="557311449895141406"] .channelName-2YrOjO{ /* Updates */
    visibility:hidden
}
[data-list-item-id*="557311449895141406"] .channelName-2YrOjO::after{
    content:"Updates";
    visibility:visible;
    display:block;
    position:absolute;
    top:0px;
    margin-left:var(--cn-margin-left)
}