/* Minimized Member Bar */

/* Member Count */
[class*="membersWrap-"] [class*="membersGroup-"] {
    margin-right: auto;
    width: 57px;
    text-overflow: clip;
    direction: rtl;
    word-spacing: 1000px;
}
[class*="membersWrap-"]:hover [class*="membersGroup-"],
[class*="membersWrap-"]:focus-within [class*="membersGroup-"] {
    width: 100%;
    margin: 0;
    direction: ltr;
    word-spacing: unset;
    text-overflow: ellipsis;
}
/* Member Bar */
.membersWrap-2h-GB4{
  min-width: 0 !important; 
}
.members-1998pB {
  transition: 1250ms ease all; /* Change this number to increase or decrease the speed of the transition. Lower is faster. Default:  1250ms */
  width: 64px !important; 
}
.members-1998pB:hover {
  width: 64px !important;
}
.membersWrap-2h-GB4:hover .members-1998pB{
  width: 245px !important;
} 