/* Role List Bars */

.members-1998pB .membersGroup-v9BXpm {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  transition: all .15s ease-in-out;
  opacity: .85
}

.members-1998pB .membersGroup-v9BXpm[style*="color:"] {
  opacity: 1
}

.members-1998pB .membersGroup-v9BXpm:before {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to left, currentColor 50%, transparent);
  margin-right: 5px
}

.members-1998pB .membersGroup-v9BXpm:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to right, currentColor 50%, transparent);
  margin-left: 5px
}

.members-1998pB>#MemberCount+.membersGroup-v9BXpm {
  margin-top: -10px
}

/* Category Bars */
.name-3l27Hl {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  text-align: center;
  transition: all 0.2s ease-in-out;
  opacity: 0.7;
}
.name-3l27Hl:before {
  content: "";
  height: 2px;
  flex-grow: 1;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(to left, white 50%, transparent);
  margin-right: 5px;
}
.name-3l27Hl:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(to right, white 50%, transparent);
  margin-left: 5px;
}
.mainContent-2h-GEV:hover .name-3l27Hl {
  opacity: 1;
}

.sidebar-2K8pFh .containerDefault-3tr_sE .wrapper-PY0fhH .name-3l27Hl, .sidebar-2K8pFh .containerDragAfter-Zk9oyx .wrapper-PY0fhH .name-3l27Hl, .sidebar-2K8pFh .containerDragBefore-1YqewQ .wrapper-PY0fhH .name-3l27Hl, .sidebar-2K8pFh .containerUserOver-98-yc7 .wrapper-PY0fhH .name-3l27Hl {
  color: white;
}

.children-L002ao {
  margin-left: 3px;
}

.collapsed-2-tg8y .name-3l27Hl:before, .collapsed-2-tg8y .name-3l27Hl:after {
  flex-grow: 0;
}

/* User Settings List Bars */

.side-8zPYf6 .header-2RyJ0Y {
  color: white;
  font-weight: 700
}

.sidebar-CFHs9e .header-2RyJ0Y {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center
}

.sidebar-CFHs9e .header-2RyJ0Y:before {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to left, white 50%, transparent);
  margin-right: 5px
}

.sidebar-CFHs9e .header-2RyJ0Y:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to right, white 50%, transparent);
  margin-left: 5px
}

.sidebar-CFHs9e .header-2RyJ0Y>span {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis
}