/* Fullwidth User Settings List */

.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN, 
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebarRegionScroller-3MXcoP {
  justify-content: flex-start;
}

.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN {
  -ms-flex: 0;
  -ms-flex-pack: end;
  flex: 0;
  z-index: 1;
}

/* Fullwidth User Settings Panel */

#app-mount .contentRegionScroller-26nc1e {
  background: transparent;
}

.standardSidebarView-3F1I7i .contentColumnDefault-1VQkGM {
  padding: 20px 40px 80px;
}

.standardSidebarView-3F1I7i .contentRegionScroller-26nc1e {
  width: 100%;
}

.standardSidebarView-3F1I7i .contentColumn-2hrIYH, 
.standardSidebarView-3F1I7i .customColumn-Rb6toI {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  max-width: 100%;
  min-height: 100%;
  min-width: 460px;
}

.standardSidebarView-3F1I7i .customScroller-26gWhv>div {
  max-width: 100%;
  margin-right: 98px;
}

.theme-dark .standardSidebarView-3F1I7i .contentRegion-3nDuYy {
  width: calc(100% - 226px);
  min-width: 553px;
  padding: 0;
}

.sidebarScrollable-1qPI87 {
  width: 24%;
}

.scroller-305q3I {
  background: transparent;
}

.sidebarScrollable-1qPI87+.content-1rPSz4 {
  max-width: 100%;
  margin-left: 25%;
}

.standardSidebarView-3F1I7i .noticeRegion-1YviSH {
  transform: translateX(25%) !important;
}

.premium-settings .premium-header,
.premium-settings .features-vNGwn7 {
  max-width: 98%;
}

#app-mount .paymentPane-3bwJ6A,
#app-mount .paymentRow-2e7VM6 {
  background-color: var(--tertiary-color);
}

#app-mount .paymentRow-2e7VM6 {
  border-color: var(--quaternary-color);
}

.expandedInfo-3kfShd {
  background: transparent !important;
}

.hoverablePayment-Yc6mK7:hover {
  background-color: var(--quaternary-color) !important;
}

.top-28JiJ- .itemSelected-1qLhcL {
  border-bottom-color: var(--main-color) !important;
  color: var(--main-color) !important;
}

.top-28JiJ- .itemDefault-3Jdr52:hover, 
.top-28JiJ- .itemHover-EnbcjT:hover {
  border-bottom-color: var(--hover-color) !important;
  color: var(--hover-color) !important;
}

.video-27HGyZ {
  width: auto;
}

.videoWrapper-3YdgHH {
  display: flex;
  justify-content: center;
}

.userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
  background-color: white !important;
  border-color: transparent !important;
}

/* Server Sticker List Fullwidth Fix */
.grid-2oDofK {
  grid-template-columns: repeat(auto-fit,minmax(146px,1fr));
}

/* Server Role Settings Fullwidth Fix */
.contentWidth-xLB44s {
  max-width: 100%;
}

.header-2mZ9Ov {
  background-image: linear-gradient(320deg, rgb(63,81,181), rgb(63,81,181));
  border-radius: 5px;
  margin-right: -4px;
  margin-left: -4px;
  padding: 10px 8px 16px;
}

.menu-32AM6u {
  margin-right: 16px;
}