/* New Message Overlap Fix */
.divider-3_HH5L {
  margin-left: 4.52rem;
}

/* Flicker Fix */
.roleColor-rz2vM0 {
  -webkit-backface-visibility: hidden;
}
.channelName-2YrOjO {
  -webkit-backface-visibility: hidden;
}

/* Hide Gift Button */
button[aria-label="Send a gift"]{
  display: none;
}

/* Remove Dupe Sidebar in Server Settings */

.side-8zPYf6 .separator-gCa7yv {
    margin: 0px 0px;
    height: 0px;
}

/* Hides Inbox and Help buttons. Pointless features go burrrr */

.toolbar-1t6TWx [aria-label="Help"], [aria-label="Inbox"] {
  display: none;
}